/* Page onload Animation CSS -- Start */
.q-default-hero__heading,.q-default-hero__subheading {
    transform: translateY(20%);
    transition: opacity 0.7s ease, transform 0.7s ease;
}
.q-default-hero__image {
    transform: translateY(30%);
    transition: opacity 0.7s ease, transform 0.7s ease;
}
.q-default-hero__box-wrap{
	transform: translateY(-20%);
	transition: opacity 0.7s ease, transform 0.7s ease;
}
.q-default-hero__heading.animate, .q-default-hero__subheading.animate,
.q-default-hero__image.animate, .q-default-hero__box-wrap.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Page onload Animation CSS -- End */

.q-square__inner,
.q-square__content {
    background-color: #222e41;
}
.q-square {
    background-color: #222e41;
    color: #fff;
    font-family: Gotham, sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.q-form__select {
    background-color: #222e41;
}
label[for="region"],
label[for="country"] {
    display: none;
}
label {
    display: block;
}
.type label {
    display: inline-block;
}
.type input {
    display: none;
}
label[for="type"] {
    font-weight: 400;
    font-size: 16px;
    margin: 1em 0.5em;
}
input[type="checkbox"] + label:before {
    background: transparent;
    border: 1px solid #627281;
    content: "\00a0";
    display: inline-block;
    font: 18px/1em sans-serif;
    /* height: 18px; */
    margin: 0 0.7em 0 0;
    padding: 0;
    vertical-align: top;
    width: 18px;
}
input[type="checkbox"]:checked + label:before {
    background: transparent;
    border: 1px solid #627281;
    color: #fff;
    content: url(https://ik.imagekit.io/qualys/image/icon/rounded-square.svg);
    text-align: center;
    border-radius: 2px;
    padding: 3px 0;
}
.type-container {
    margin: 1em 0.1em;
}
.partner {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    padding-right: 26px;
    border-top: 1px solid #edeef0;
    margin-top: 1.5em;
    min-height: 205px;
    padding-top: 1.5em;
    box-sizing: content-box;
    float: left;
}
.q-grid__container {
    margin-bottom: 60px;
    margin-top: 20px;
}
.partner__name a,
.partner__name {
    font-family: Gotham, sans-serif;
    color: #30405b;
    text-decoration: none;
    font-weight: 500;
}
.partner p {
    margin: 0;
    font-family: Gotham, sans-serif;
    line-height: 1.6;
}
.note {
    clear: both;
    padding-top: 3em;
}
.partners-local,
.partners-worldwide {
    /* padding-bottom: 50px; */
    clear: both;
}
.partners-worldwide {
    padding-top: 1em;
}
.partner__badge {
    padding: 0.7em 0.6em 0.5em;
    line-height: 1;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    font-family: Gotham, sans-serif;
    font-weight: 500;
    margin-right: 5px;
}
.badge-container {
    margin-top: 1em;
}
.partner__badge--msp {
    background-color: #6a778b;
}
.partner__badge--var {
    background-color: #2c75be;
}
.partner__badge--vad {
    background-color: #8ebbdc;
}
.q-default-hero__splash {
    top: 0;
}
.partner.hidden {
    display: none;
}
.q-default-hero__image {
    background-image: url("https://ik.imagekit.io/qualys/image/two-people-smiling-2x.jpg");
}
.no-js .q-default-hero__box-wrap,
.no-js .q-default-hero__image {
    opacity: 1;
}
@media (min-width: 1080px) {
    .q-default-hero__content {
        width: auto;
        margin-left: 6%;
        margin-bottom: 6em;
    }
    .q-content-hero__inner {
        width: 39%;
        margin-left: 6%;
    }
    .partners .q-square::before {
        padding-bottom: 0;
    }
    .partners .q-square__inner {
        position: static;
    }
    .partners .q-square__content--fit {
        padding: 30px;
        min-height: 0;
    }
    .q-default-hero__splash {
        top: 0;
    }
    .heroBox {
        top: -3vw;
    }
}
@media (min-width: 1440px) {
    .heroBox {
        top: -4em;
    }
}
